     


  <% @project.rosters.each do |roster| %>
       <% @shift_count = 0 %>   

<div class = "panel panel-primary  project-panel">


           <div class="panel-heading week-heading">Week:  <%= roster.week %>  </div>
           <div class="panel-body shift-info1">


         <% @project.num_of_shifts.times do   %>

                <% @shift_count = @shift_count + 1  %>

      <div class="panel-heading shift-heading "> Shift: <%= @shift_count %> </div>

                <div class = "shift-body">

                    <table class = "table table ">
                        
                          <%= render 'project_shift_details' %>
                                                             
                        
                      </table>                  

                   </div>
                
              <% end %>  

              </div>
              
            </div>
            <br>
            <br>
            



<% end %>
