     


  <% @project.rosters.each do |roster| %>
       <% @shift_count = 0 %>   

         <%= @project.num_of_shifts.times do   %>

                <% @shift_count = @shift_count + 1  %>
<div class = "panel panel-primary form-panel project">


           <div class="panel-heading">Week:  <%= roster.week %> Shift: <%= @shift_count %> </div>

                

                  <div class="panel-body">

                    <h1> Hello Hello Hello  </h1>
                  </div>
                </div>
              </div>
              <% end %>  
              <!-- End of hidden if for schedules -->   
        

  </div>
  </div>
  </div>



<% end %> 