 <div class = "panel panel-primary project">


<div class="panel-heading"> <h1> Edit Project </h1> </div>

	<div class="panel-body">


<%= @test %> 

<%= render 'form', project: @project %>
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

</div>
</div>
</div>