

 $output-bourbon-depreciation-warnings: false;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap-datepicker";
@import "gritter";
@import "bourbon";
@import "administrate/application.scss";



.custom-nav {
	
 margin-top: 15px;

}


.navigation__link {
	
 text-decoration: none;


}

 .navigation__link:hover {

 background-color: #eceef1;

 }




.show-header {
	height: 50px;
	width: 100%;
	color: #fff;
	background: #365ebf;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	font: 18px;
	font-weight: bold;
	padding-top: 15px;
	}

col-md-4 {
	height: 100%;
	border: 1px solid black;
		

}

.container{
	height: 100%;
}

.jumbotron  {
height: 100%;
}

.show-body {
height: 100%;
border: .5px solid black;
}


.show-body p {
font-size: 12px;
}

.col-md-4 {
	padding-right: 0;

}

.col-md-8 {
	padding-left: 0;

}